@use 'variables';

@mixin navLinkStyle($textColor: variables.$mainTextColor, $highlightColor: $textColor){
    color: $textColor;
    transition: transform 0.2s ease-in-out;

    &:hover{
        color: darken($color: $highlightColor, $amount: 20%);
        transform: scale(1.1);
    }
}